In [6]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@mysql'


## Problem 1:  Controls

Write a Python script that proves that the lines of data in Germplasm.tsv, and LocusGene are in the same sequence, based on the AGI Locus Code (ATxGxxxxxx).  (hint: This will help you decide how to load the data into the database)

In [ ]:
#Problem 1 solution
germplasm = open("Germplasm.tsv", "r")
locusgene = open("LocusGene.tsv", "r")

a = 0
counter = 0 #variable that counts the number of genes
import re
for line in germplasm.readlines():
    germplasmAGIcode = re.search( r'AT\dG\d+\t', line)
    germplasm.seek(a)
    if germplasmAGIcode:
        for line in locusgene.readlines():
            locusgeneAGIcode = re.search( r'AT\dG\d+\t', line)
            locusgene.seek(0)
            a = a+1
            if locusgeneAGIcode:
                if germplasmAGIcode.group() == locusgeneAGIcode.group():
                    print(locusgeneAGIcode.group()+"is in both files")
                    counter+=1
                
germplasm.close()                    
locusgene.close()                
print ("There are "+str(counter)+" genes")

**Problem 1 explanation**

For the problem number 1, I have used two loops for. The first one, read the file germplasm and looks for an AGIcode; after that, begin the second loop for that looks for AGI code in locusgene file and with an if command try to search the same AGIcode extracted from germplasm file.
When the command if finish, the output prints the AGI code of the gene + "is in both files" to indicate that the gene is in germplasm and locusgene files.
When the if command finishes, the code comeback to the first for loop, but begins the reading in the next line thanks to .seek() command. I used a variable called "a" that rise in 1 in each loop and, on this way, I get that the germplasm file reading begins a line after.
At the end, with a variable called counter, I count the number of genes there are in common.

## Problem 2:  Design and create the database.  
* It should have two tables - one for each of the two data files.
* The two tables should be linked in a 1:1 relationship
* you may use either sqlMagic or pymysql to build the database

In [16]:
#Problem 2 solution
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql
#%sql drop database Germplasm_Locusgene;
            
%sql create database Germplasm_Locusgene;           

%sql use Germplasm_Locusgene;
%sql CREATE TABLE Germplasm(Locus VARCHAR(9) NOT NULL, Germplasm VARCHAR(50) NOT NULL, Phenotype VARCHAR(1500) NOT NULL, Pubmed VARCHAR(50) NOT NULL);  
%sql CREATE TABLE LocusGene(Locus VARCHAR(9) NOT NULL, Gene VARCHAR(20) NOT NULL, ProteinLength VARCHAR (20) NOT NULL)

%sql show tables;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('Germplasm',), ('LocusGene',)]

**Problem 2 explanation**

Using command in mysql(%sql) create database, I have created a database called Germplasm_Locusgene. After that, I have selected the database using a command called use and finally, I have created two tables inside the database Germplasm_Locusgene.
The first table is called Germplasm and have four columns(Locus, Germplasm, Phenotype and Pubmed), the second table is called LocusGene and have three columns(Locus, Gene and ProteinLength).
As both tables coincide in number and genes, the gene to gene relationship between tables is a 1:1 ratio, and I don't have to insert and auto primary key id.

## Problem 3: Fill the database
Using pymysql, create a Python script that reads the data from these files, and fills the database.  There are a variety of strategies to accomplish this.  I will give all strategies equal credit - do whichever one you are most confident with.

In [17]:
#Problem 3 solution
germplasm = open("Germplasm.tsv", "r")
locusgene = open("LocusGene.tsv", "r")
locusgenelist = []
germplasmlist = []

for line in locusgene.readlines():
    line = line.rstrip()
    Locus, Gene, ProteinLength = line.split('\t')
    locusgenelist.append((Locus, Gene, ProteinLength)) #I do the list inserting data with .append() command
for line in germplasm.readlines():
    line = line.rstrip()
    Locus, Germplasm, Phenotype, Pubmed = line.split('\t')
    germplasmlist.append((Locus, Germplasm, Phenotype, Pubmed))
locusgene.close()
germplasm.close()

locusgenelist.pop(0)
germplasmlist.pop(0)

import pymysql.cursors
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Germplasm_Locusgene',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False
try:
    with connection.cursor() as cursor:
            sql = """INSERT INTO LocusGene (Locus, Gene, ProteinLength)
            VALUES (%s,%s,%s)"""
            val = locusgenelist  
            cursor.executemany(sql,val) #execute sql and insert into %s the data contained in locusgenelist
           
            connection.commit()
            
            mql = """INSERT INTO Germplasm (Locus, Germplasm, Phenotype, Pubmed)
            VALUES (%s,%s,%s,%s)"""
            cal = germplasmlist
            cursor.executemany(mql, cal)
            connection.commit()
            
finally:
    print("")
connection.close()
%sql SELECT * FROM Germplasm;
%sql SELECT * FROM LocusGene;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[('AT1G01040', 'DCL1', '332'),
 ('AT1G01060', 'LHY', '290'),
 ('AT1G01140', 'CIPK9', '223'),
 ('AT1G01220', 'FKGP', '190'),
 ('AT2G03720', 'MRH6', '189'),
 ('AT2G03800', 'GEK1', '196'),
 ('AT2G04240', 'XERICO', '256'),
 ('AT2G05210', 'POT1A', '221'),
 ('AT3G02130', 'RPK2', '284'),
 ('AT3G02140', 'TMAC2', '300'),
 ('AT3G02230', 'RGP1', '301'),
 ('AT3G02260', 'BIG', '279'),
 ('AT3G02310', 'SEP2', '175'),
 ('AT3G02680', 'NBS1', '190'),
 ('AT3G02850', 'SKOR', '234'),
 ('AT3G02870', 'VTC4', '311'),
 ('AT3G03260', 'HDG8', '194'),
 ('AT4G14790', 'SUV3', '312'),
 ('AT4G15210', 'BAM5', '313'),
 ('AT4G15560', 'DXS', '219'),
 ('AT4G15570', 'MAA3', '294'),
 ('AT4G15802', 'HSBP', '254'),
 ('AT4G15880', 'ESD4', '265'),
 ('AT4G16420', 'ADA2B', '279'),
 ('AT4G16480', 'INT4', '284'),
 ('AT5G10480', 'PAS2', '301'),
 ('AT5G10510', 'AIL6', '310'),
 ('AT5G11110', 'SPS2', '232'),
 ('AT5G11260', 'HY5', '221'),
 ('AT5G11510', 'MYB3R-4', '336'),
 ('AT5G12200', 'PYD2', '310'),
 ('AT5G13290', 'CRN', '189')]

In [ ]:
%sql SELECT * FROM Germplasm;

**Problem 3 explanation**

At first, I opened and read the tsv files using the command open(file, 'r'(read). After that I created two empty lists called locusgenelist and germplasmlist to fill them with two for loops. The for loop use the command readline to read the lines in order and fill the lists in order using the command .append. The file is a tsv file and for this reason I have used the command line.split(\t) to shows the code how the elements in a line in the files are separated.
Once I filled the lists, I close the files and remove the header line of each list using the command .pop(0) that remove the first element of the list (I have removed the header line).
After that, using Python SQL library I filled the tables created in MySQL in problem 2 with the lists (locusgenelist and germplasmlist). To do it I filled the tables with command cursor.executemany and execute the sql line to insert data and the list to fill the values (%s).
Finally, I have closed the connection and assure that the tables are filled correctly usig the command %sql SELECT * FROM.
As we can see in the tables, the 32 genes are correctly inserted in the tables.

## Problem 4: Create reports, written to a file

1. Create a report that shows the full, joined, content of the two database tables (including a header line)

2. Create a joined report that only includes the Genes SKOR and MAA3

3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule! 

All reports should be written to **the same file**.  You may name the file anything you wish.

In [18]:
#Problem 4.1 solution
%sql SELECT * FROM LocusGene, Germplasm WHERE \
    LocusGene.Locus = Germplasm.Locus;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[('AT1G01040', 'DCL1', '332', 'AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', '17369351'),
 ('AT1G01060', 'LHY', '290', 'AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', '16891401'),
 ('AT1G01140', 'CIPK9', '223', 'AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', '17486125'),
 ('AT1G01220', 'FKGP', '190', 'AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ s ... (41 characters truncated) ... henotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.', '18199744'),
 ('AT2G03720', 'MRH6', '189', 'AT2G03720', 'SALK_042433', 'Multiple straight hairs', '16367956'),
 ('AT2G03800', 'GEK1', '196', 'AT2G03800', 'gek1-1', 'Ethanol hypersensitivity.', '15215505'),
 ('AT2G04240', 'XERICO', '256', 'AT2G04240', 'xerico', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.', '17933900'),
 ('AT2G05210', 'POT1A', '221', 'AT2G05210', 'pot1-1', 'No visible phenotype.', '17627276'),
 ('AT3G02130', 'RPK2', '284', 'AT3G02130', 'rpk2-2', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.', '17419837'),
 ('AT3G02140', 'TMAC2', '300', 'AT3G02140', 'afp4-1', 'Decreased germination on high concentrations of glucose and sorbitol.', '18484180'),
 ('AT3G02230', 'RGP1', '301', 'AT3G02230', 'rgp1-1', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.', '21478444'),
 ('AT3G02260', 'BIG', '279', 'AT3G02260', 'tir3-1 RGLG1:rglg1 rglg2', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.', '17586653'),
 ('AT3G02310', 'SEP2', '175', 'AT3G02310', 'sep2-1', 'Non-described subtle phenotype.', '10821278'),
 ('AT3G02680', 'NBS1', '190', 'AT3G02680', 'atnbs1-1', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.', '17672843'),
 ('AT3G02850', 'SKOR', '234', 'AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', '17568770'),
 ('AT3G02870', 'VTC4', '311', 'AT3G02870', 'vtc4-1', 'ascorbate deficient', '16595667'),
 ('AT3G03260', 'HDG8', '194', 'AT3G03260', 'hdg8-1', 'No visible phenotype.', '16778018'),
 ('AT4G14790', 'SUV3', '312', 'AT4G14790', 'pdd17', 'Defective pollen development.', '19237690'),
 ('AT4G15210', 'BAM5', '313', 'AT4G15210', 'bmy1-2', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.', '16297066'),
 ('AT4G15560', 'DXS', '219', 'AT4G15560', 'cla1-1', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.', '10982425'),
 ('AT4G15570', 'MAA3', '294', 'AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', '18772186'),
 ('AT4G15802', 'HSBP', '254', 'AT4G15802', 'Athspb-2', 'Early flowering, reduced fertility, aborted seeds.', '20388662'),
 ('AT4G15880', 'ESD4', '265', 'AT4G15880', 'esd4-2', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.', '17513499'),
 ('AT4G16420', 'ADA2B', '279', 'AT4G16420', 'prz1-1', 'Altered response to auxin and cytokinin', '12747832'),
 ('AT4G16480', 'INT4', '284', 'AT4G16480', 'atint4-2', 'No visible phenotype.', '16603666'),
 ('AT5G10480', 'PAS2', '301', 'AT5G10480', 'pas2-3', 'Segregates 25% embryo lethal.', '18799749'),
 ('AT5G10510', 'AIL6', '310', 'AT5G10510', 'plt3-1', 'Short roots and shortened root meristem.', '17960244'),
 ('AT5G11110', 'SPS2', '232', 'AT5G11110', 'kns2', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.', '18779216'),
 ('AT5G11260', 'HY5', '221', 'AT5G11260', 'hy5-101', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.', '16891401'),
 ('AT5G11510', 'MYB3R-4', '336', 'AT5G11510', 'myb3r4-1', 'No visible phenotype.', '17287251'),
 ('AT5G12200', 'PYD2', '310', 'AT5G12200', 'pyd2-2', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.', '19413687'),
 ('AT5G13290', 'CRN', '189', 'AT5G13290', 'crn-1', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.', '12345678')]

**Problem 4.1 explanation**

To create a report that joined the Germplasm table and the LocusGene table, I have used the command SELECT * FROM LocusGene, Germplasm (to select both tables) WHERE LocusGene.Locus = Germplasm.Locus (to say to the code that the row Locus in LocusGene table is the same row that Locus row in Germplasm table).
And on this way, I get an output that join both tables and ordering data according to the Locus.
I didn't use id primary key because if I had used that, in the output would have had two id and two locus (one per table), but the tables have the same genes I can order tables in a relationship 1:1 using locus.

In [19]:
#Problem 4.2 solution
%sql SELECT * FROM LocusGene, Germplasm WHERE LocusGene.Locus = Germplasm.Locus AND (Gene = ('MAA3') OR Gene=('SKOR'));

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('AT3G02850', 'SKOR', '234', 'AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', '17568770'),
 ('AT4G15570', 'MAA3', '294', 'AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', '18772186')]

**Problem 4.2 explanation**

As I did in the problem 4.1, I used SELECT * FROM command and I put that LocusGene.Locus = Germplasm.Locus but I have shown only MAA3 and SKOR genes.

In [64]:
#Problem 4.3 solution
import pymysql.cursors

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Germplasm_Locusgene',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
#connection.autocommit = False  # note that it is possible to delay putting changes into the database!
#Report = open("Reports.tsv", 'w')
try:
    with connection.cursor() as cursor:
        for chromosome in range(1,6):
            chr_name= "chromosome "+str(chromosome)
            regex_var = "AT"+str(chromosome)+"G.+"
            sql= "SELECT COUNT(*) AS %s FROM LocusGene, Germplasm WHERE \
                  LocusGene.Locus = Germplasm.Locus AND \
                 LocusGene.Locus REGEXP %s;" 
            val= (chr_name, regex_var) #variable var contains data to insert in sql 
            cursor.execute(sql, val) #execute sql and insert val data into %s.
            print(cursor.fetchone())
            #report.write(str(cursor.fetchone()))
           
           
                         
finally:
    print("")
    connection.close()
#report.close()

#checkcontent = open("Reports.tsv", "r")
#print(checkcontent.read())
#checkcontent.close()

{'chromosome 1': 4}
{'chromosome 2': 4}
{'chromosome 3': 9}
{'chromosome 4': 8}
{'chromosome 5': 7}

**Problem 4.3 explanation**

At first, I connected with the SQL library in python and use the database Germplasm_Locusgene.
With a for loop in range (1,6), I selected the chromosomos from 1 to 5. In the loop, I have created two variables; the first one to name the chromosome and the second one to write the regular expression of the AGIcode per each chromosome.
After that and using the command count in SQL I counted the number of genes there are in each chromosome.

In [20]:
#Problem 4.4 solution
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Germplasm_Locusgene',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
#connection.autocommit = False  # note that it is possible to delay putting changes into the database!

try:
    with connection.cursor() as cursor:
        # Read a single record
        for chromosome in range(1,6):
            chr_name= "chromosome "+str(chromosome)
            regex_var = "AT"+str(chromosome)+"G.+"
            sql= "SELECT AVG(LocusGene.ProteinLength) FROM LocusGene, Germplasm WHERE \
             LocusGene.Locus = Germplasm.Locus AND \
             LocusGene.Locus REGEXP %s;"
            val=(regex_var)
            cursor.execute(sql, val)
            print(cursor.fetchone())
            
        
finally:
    print("")
    connection.close()

{'AVG(LocusGene.ProteinLength)': 258.75}
{'AVG(LocusGene.ProteinLength)': 215.5}
{'AVG(LocusGene.ProteinLength)': 252.0}
{'AVG(LocusGene.ProteinLength)': 277.5}
{'AVG(LocusGene.ProteinLength)': 271.2857142857143}

**Problem 4.4 explanation**
Like in problem number 4.3 I used the library for SQL in python and the same loop for each chromosome. The difference between this one and the previous one is that I have used the command average (AVG).

I couldn't have wroten the file using command Report = open("Reports.tsv", 'w')
report.write(str(cursor.fetchone()))
report.close() (This commands are in problem 4.3)
I thought that this way could be a great way to write the file reports but I don't know why the data didn't save.
Instead of this way, I used the wrong way to make the file reports. I ran the code, copied the output and pasting the output into a tsv file.